.sk-ed-menu-btn {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  background: transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #333;
  }
}
